<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}REKAYA GAME{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material.min.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}" class="nav-link">Accueil</a></li>
                <li><a href="{{ url_for('tutoriel') }}" class="nav-link">Tutoriel</a></li>
                <li><a href="{{ url_for('defi_1') }}" class="nav-link">Défi 1</a></li>
                <li><a href="{{ url_for('defi_interactif') }}" class="nav-link">Défi Interactif</a></li>
                <li><a href="{{ url_for('aide') }}" class="nav-link">Aide</a></li>
                <li><a href="{{ url_for('faq') }}" class="nav-link">FAQ</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/rekaya_game_logo.png') }}" alt="Logo">
            <h1>REKAYA GAME</h1>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/closebrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/skulpt@0.11.0/skulpt.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/skulpt@0.11.0/skulpt-stdlib.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
